.header {
  display: inline-block;
color: black;
text-align: center;
padding: 14px;
text-decoration: none;
font-size: 17px;
border-radius: 5px;
}











.suicide {
    padding-right: 100px;
}

.mental {
    padding-right: 50px;
}

.eating {
    text-align: center;
}

.anxiety {
    padding-left: 50px;
}

.depression {
    padding-left: 100px;
}

.resources {
    text-align: center;
}

.clarinda {
    float: right;
    padding: 100px;
    padding-top: 400px;
}

.shenandoah {
    float: left;
    padding: 100px;
    padding-top: 400px;
}

.redoak {
    padding-top: 100px;
    padding-right: 300px;
}

.supportline {
    float: right;
    padding-top: 0px;
    padding-right: 100px;
}
