.header {
      display: inline-block;
      text-align: center;
      padding: 14px;
      text-decoration: none;
      font-size: 17px;
      padding-right: 200px;
      padding-left: 200px;
      background: #ffffff;
      background-padding: 5px;
      text-align: center;
      font-size:20px;
      border-top-width: thick;
      border-bottom-width:thick;
      border-top-style: solid;
      border-bottom-style: solid;
      border-top-color: #3BD528;
      border-bottom-color: #3BD528;}






.service {
    padding-right: 500px;
}

.right {
    float: right;
    padding: 0px;

}

.longtext {
    float: right;
    text-align: right;
}

.aboutus {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}


.suicideline {
    padding-right: 100px;
}

.mental {
    padding-right: 50px;
}

.eating {
    text-align: center;
}

.anxiety {
    padding-left: 50px;
}

.depression {
    padding-left: 100px;
}

.resources {
    text-align: center;
}


.contact {
    text-align: center;
}


.clarinda {
    float: right;
    padding-right: 300px;
    padding-top: 500px;
}

.shenandoah {
    padding-left: 550px;
    padding-top: 100px;
}

.redoak {
    padding-top: 100px;
    padding-left: 300px;
    padding-bottom: 0px;
}

.supportline {
    padding-top: 0px;
    padding-left: 550px;
    padding-bottom: 100px;
}
