.header {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      /*display: inline-block;*/
      text-align: center;
      /*padding: 14px;*/
      padding-bottom: 15px;
      text-decoration: none;
      font-size: 17px;
      /*padding-right: 200px;
      padding-left: 200px;*/
      background: #ffffff;
      font-size:20px;
      border-top-width: thick;
      border-bottom-width:thick;
      border-top-style: solid;
      border-bottom-style: solid;
      border-top-color: #3BD528;
      border-bottom-color: #3BD528;}

nav a {padding:5px;
      text-decoration: none;
      font-family: arial;
          color: #4EAEE2;
}
li {font-family: arial;
    color: #4EAEE2;}

h1 {font-family: arial;
    color: #4EAEE2;}
h2 {font-family: arial;
    color: #4EAEE2;}
h3 {font-family: arial;
    color: #85C341;}
h4 {font-family: arial;
    color: #85C341;}
h5 {font-family: arial;
    color: #85C341;}
h6 {font-family: arial;
    color: #85C341;}
h7 {font-family: arial;
    color: #85C341;}
h8 {font-family: arial;
    color: #85C341;}

p {font-family: arial}


main {/*padding-left: 50px;
    padding-right: 50px;*/
    border-right: 10px;
    border-left: 10px;
    border-color: #4EAEE2;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.fotorama {
    /*position: relative*/;
    width: 80%;
    overflow: hidden;
    position: relative;
    left: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 50px;

}




.green {
    background-color: #90ee90;
    padding-bottom: 60px;
    padding-top: 10px;
}

.green h4 {
    color: whitesmoke;
}

.green h5 {
    color: slategray;
}

.blue h5 {
    color: slategray;
}


.blue {
    background-color: powderblue;
    padding-bottom: 60px;
    padding-top: 10px;

}


.service {
    padding-right: 500px;
    padding-left: 50px;
}

.right {
    float: right;
    padding-right: 50px;
    text-align: right;
    padding-bottom: 20;
}


.image1 {
    padding-top: 100px;
    width: 100px;
    height: 100px;
}




.aboutus {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.therapist {
    text-align: center;
    float: inherit;
}



.nurses {
    text-align: center;
    float: inherit;
}


.aboutImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}


#suicideline {
    text-align: center;
}

#mental {
    text-align: center;
}

#eating {
    text-align: center;
}

#anxiety {
    text-align: center;
}

#depression {
    text-align: center;
}

.resources {
    text-align: center;
}

.services {
    text-align: center;
}


.contact {
    text-align: center;
    padding-bottom: 300px;
}


#clarinda {
    float: left;
    padding-left: 100px;
}

#shenandoah {
    float: left;
    padding-left: 150px;
}

#redoak {
    float: left;
    padding-left: 200px;
}

#supportline {
    float: left;
    padding-left: 125px;
}
footer {background-color:#3BD528;
      text-decoration-color: #ffffff;
      margin: 20px;
      clear: both;
      padding: 5px;
      text-align: center;}
      /* Create Media Queries */
      header, main, nav, footer, figure, figcaption { display: block; }
      @media only screen and (max-width: 1024px) {
      	body { margin: 0; background-color: #ffffff;}
      	#wrapper { width: auto; margin: 0;}
      	main { margin-left: 0; }
      	nav { float: none;
      		  width: auto; }
      	nav li { display: inline-block;
      			   padding: 0.5em; }
      	nav ul { text-align: center; }
      	nav a { border-style: none; }
      	h1, h2 { font-size: 120%; }
      	p { font-size: 90%; }
      }
      @media only screen and (max-width: 768px) {
      	#wrapper { min-width: 0; }
      	header h1 { padding-left: 0; }
      	h1, h2 { font-size: 100%; }
      	span { font-size: 80%; }
      	figure { display: none;}
      	nav, nav ul, nav li { padding: 0; }
      	nav li { display: block; }
      	nav a { display: block;
      		padding: 0.5em 0;
      		border-bottom: 2px ridge #00005D; }
      	}
